
<html>
    <head>
        <meta charset="UTF-8">
        <title> 🔒 {{ heading }} </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">  
    </head>
    <body>
    <!-- ---------------------------------------------------------->
    </br>
    <!-- ---------------------------------------------------------->

    <div align="center">
        <br>
        <div class="topic">{{ heading }}</div>
        <br>
        <br>
        <form action="{{ url_for('login') }}" method="post">
            <br>
            <div style="font-size: x-large;">{{ warn }}</div>
            <br>
            <div class="msg_login">{{ msg }}</div>
            <br>
            <input id="uid" name="uid" type="text" placeholder="... user-id ..." class="txt_login"/>
            <br>
            <br>
            <input id="passwd" name="passwd" type="password" placeholder="... password ..." class="txt_login"/>
            <br>
            <br>
            <input type="submit" class="btn_login" value="Login">
            <br>
            <br>

        </form>
    </div>
    <br>
    <br>
    <!-- ---------------------------------------------------------->
    
    <div align="center">
    <div><span style="font-size: xx-large;">💻</span><br><span class="info_login">{{ info }}</span></div>
    <div style="font-size:large">📤 <a href="https://github.com/NelsonSharma/topics" class="github_info"><i>topics</i> ● GitHub</a> 📥</div>
    <br>
    </div>
    <!-- ---------------------------------------------------------->
    </body>
</html>
