
<html>
	<head>
		<meta charset="UTF-8">
		<title> 🔺 {{ config.topic }} | {{ session.uid }} </title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">					 
	</head>
    <body>
    <!-- ---------------------------------------------------------->
    </br>
    <!-- ---------------------------------------------------------->
    
    <div align="left" style="padding: 20px;">
        <div class="topic_mid">{{ config.topic }}</div>
        <div class="userword">{{session.uid}} {{ config['emoji'] }} {{session.named}}</div>
        <br>
        <a href="{{ url_for('logout') }}" class="btn_logout">Logout</a>
        <a href="{{ url_for('download') }}" class="btn_download">Downloads</a>
        <a href="{{ url_for('uploadf') }}" class="btn_refresh">Refresh</a>
        <button class="btn_purge" onclick="confirm_purge()">Purge</button>
            <script>
                function confirm_purge() {
                let res = confirm("Purge all the uploaded files now?");
                if (res == true) {
                    location.href = "{{ url_for('purge') }}";
                    }
                }
            </script>
        {% if session.admind %}
        <a href="{{ url_for('adminpage') }}" class="btn_admin">⚙</a>
        {% endif %}
        <br>
        <br>
        <div class="status">
            <ol>
            {% for s,f in status %}
            {% if s %}
            {% if s<0 %}
            <li style="color: #ffffff;">{{ f }}</li>
            {% else %}
            <li style="color: #47ff6f;">{{ f }}</li>
            {% endif %}
            {% else %}
            <li style="color: #ff6565;">{{ f }}</li>
            {% endif %}
            {% endfor %}
            </ol>
        </div>
        <br>
        <form method='POST' enctype='multipart/form-data'>
            {{form.hidden_tag()}}
            {{form.file()}}
            {{form.submit()}}
        </form>
        <br>
        <div class="files_status">{{ msg }}</div>
        <br>
        <div class="files_list_up">
            <ol>
            {% for f in filelist %}
            <li>{{ f }}</li>
            {% endfor %}
            </ol>
        </div>
        <br>
        <br>

    </div>
			
    <!-- ---------------------------------------------------------->
    </br>
    <!-- ---------------------------------------------------------->
    </body>
</html>
