
<html>
	<head>
		<meta charset="UTF-8">
		<title> {{ heading }} @ {{session.uid}} </title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">					 
	</head>
	<body></br>

		<div style="padding: 20px;">
			<div class="header">
                <h1 class="wordH">{{ heading }}</h1>
                <a href="{{ url_for('download') }}" class="btn_resources">Resources</a></br><br>
				<div class="word">{{session.uid}} | {{session.named}}  <a href="{{ url_for('logout') }}" class="btn_logout">Logout</a> </div>
			</div>
            {% if username == "": %}
            <!--if block html code-->
            {% else %}
            <!--else block html code-->
            {% endif %}

            <div class="status">
                <ol>
                {% for s,f in status %}
                {% if s %}
                {% if s<0 %}
                <li style="color: #060472;">{{ f }}</li>
                {% else %}
                <li style="color: #089a28;">{{ f }}</li>
                {% endif %}
                {% else %}
                <li style="color: #9a0808;">{{ f }}</li>
                {% endif %}
                {% endfor %}
                </ol>
            </div>
            <a href="{{ url_for('upload') }}" class="btn_refresh">Clear</a>
            <br>
            <br>
            <h2 class="word">
                <form method='POST' enctype='multipart/form-data'>
                    {{form.hidden_tag()}}
                    {{form.file()}}
                    {{form.submit()}}
                </form>
            </h2>

            <div class="msg"></br><span style="font-size: larger;">{{ msg }}</span></br>
                <ol>
                {% for f in filelist %}
                <li>{{ f }}</li>
                {% endfor %}
                </ol>
                </br>

                
            </div>
            <br>
            <a href="{{ url_for('purge') }}" class="btn_purge">Purge</a>
            <br>

		</div>
        
	</body>
</html>
